<!-- <body style="background-image: url(https://img.freepik.com/free-vector/grunge-watercolor-background-using-pastel-colours_1048-6530.jpg?w=740&t=st=1706089250~exp=1706089850~hmac=707c60c884707e0b247d9df3256d6ba5c29bfb9fa746d6eec0f2ec3f5bf5e10a);
background-repeat: no-repeat;
background-size: cover;
height:919px;"
routerLinkActive="Active" [routerLinkActiveOptions]="{exact:true}">
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a class="navbar-brand" style="margin-left: 1rem;cursor:context-menu;" routerLink="/home">Home</a>
            <a class="navbar-brand" routerLink="employee" style="margin-left: 1rem;">Employee</a>
            <a class="navbar-brand" routerLink="company" style="margin-left: 1rem;">Company</a>
            <a class="navbar-brand" routerLink="branch" style="margin-left: 1rem;">Branch</a>
        </div>
        <button class="btn btn-primary" style="margin-right: 2rem;" routerLink="" (click)="logOut()">Sign Out</button>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</body> -->


<body style="background-image:
url(https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1706745600&semt=ais);
background-repeat: no-repeat;
background-size: cover;
height:919px;width: 100%;">

    <!-- <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'> -->
    <nav class="navbar navbar-dark bg-dark">
        <!-- <h1>Simple Menu Navigation</h1> -->
        <div>
            <a routerLink="/home" class="btn btn-success m-2" id="home">Home</a>
            <a routerLink="employee" class="btn btn-info m-2" id="employee">Employee</a>
            <a routerLink="company" class="btn btn-warning m-2" id="company">Company</a>
            <a routerLink="branch" class="btn btn-danger m-2" id="branch">Branch</a>
        </div>
        <div>
            <a  class="btn btn-warning m-2" id="star" (click)="filterfun()"> <i class="bi bi-search"></i></a>
            <a routerLink="/add" class="btn btn-warning m-2" id="star"> <i class="bi bi-person-fill-add"></i></a>
            <a routerLink="/favourite" class="btn btn-warning m-2" id="star"> <i class="bi bi-bookmark-star"></i></a>

            <button class="btn btn-primary m-2" routerLink="" (click)="logOut()" id="signOut">SignOut</button>
            <div *ngIf="isFilter">
                <div></div>
                <input class="form-control" #ser type="search" placeholder="Search" aria-label="Search" style="width: 15rem;"
                    [(ngModel)]="search">
                <!-- <app-employee [search]="search"></app-employee> -->
            </div>
        </div>

    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>

    <!-- <div class="overlay" *ngIf="showLoader"> -->


    <div class="overlay" *ngIf="showLoader">
        <div class="loader">

        </div>
    </div>
    <!-- </div> -->
</body>